.history-container {
  height: 50%;
  width: 100%;
}

.history-sort {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history {
  list-style-type: none;
  width: 100%;
  height: calc(100% - 40px);
  padding: 5px;
  box-sizing: border-box;
  overflow: auto;
}

.history__item {
  width: 100%;
  padding: 5px 0px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 5px 0px;
}

.history__item.current {
  background: green;
}

.history__item:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
