.play-game {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.play-game__find-player-button {
  padding: 50px;
  height: auto;
  text-transform: uppercase;
  font-weight: bold;
}
